<div fxLayout="column" fxLayoutGap="10px">
  <h2>fxLayoutAlign="space-between center"</h2>
  <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
  <h2>fxLayoutAlign="space-around center"</h2>
  <div class="item" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
  <h2>fxLayoutAlign="center center"</h2>
  <div class="item" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>

  <h2>fxLayoutAlign="start center"</h2>
  <div class="item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>

  <h2>fxLayoutAlign="center end"</h2>
  <div class="item" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="10px">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>

  <h2>Position test</h2>
  <div fxLayout="row"  class="item" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxLayoutAlign="center center">
      1
    </div>
    <div fxLayoutAlign="start center" >
      2
    </div>
    <div fxLayoutAlign="end end">
      3
    </div>
  </div>
  <h1>Full landcapse page</h1>
  <div class="lc" fxLayout="row" fxLayoutAlign="center center">
    <div class="desc">
      <h1>Welcome, Your Name!</h1>
    </div>
  </div>

  <h1>Flex Offset Values</h1>
  <div fxLayout="row" class="items">
    <div fxFlex="33" fxFlexOffset="15">fxFlex=33 fxFlexOffset="15"</div>
    <div fxFlex style="margin-left:10px">rest</div>
  </div>
  <h1>Flex Fill Wrap</h1>
  <div fxLayout="row" fxLayoutWrap class="wrap">
    <div fxFlex="30"> fxFlex="30"</div>
    <div fxFlex="45"> fxFlex="45"</div>
    <div fxFlex="19"> fxFlex="19"</div>
    <div fxFlex="33"> fxFlex="33"</div>
    <div fxFlex="67"> fxFlex="67"</div>
    <div fxFlex="50"> fxFlex="50"</div>
    <div fxFlex> fxFlex</div>
  </div>
  <h1>Responsive</h1>
  <h1>Change Size</h1>
  <div fxLayout="row" class="responsive">
    <div fxFlex.gt-sm="67" fxFlex="33"> flex 33% on mobile, and 67% on gt-sm devices.</div>
    <div fxFlex.gt-sm="33" fxFlex="67"> flex 67% on mobile, and 33% on gt-sm devices.</div>
  </div>
  <h1>Change Order</h1>
  <div fxLayout="row" class="responsive">
    <div fxFlexOrder="1" fxFlexOrder.gt-sm="2" fxFlex> sm order 1, gt-sm order2</div>
    <div fxFlexOrder="2" fxFlexOrder.gt-sm="3" fxFlex> sm order 2, gt-sm order3</div>
    <div fxFlexOrder="3" fxFlexOrder.gt-sm="1" fxFlex> sm order 3, gt-sm order1</div>
  </div>
  <h1>Change Direction</h1>
  <div fxLayout="row" fxLayout.sm="column" class="responsive">
    <div fxFlex>1</div>
    <div fxFlex>2</div>
    <div fxFlex>3</div>
  </div>
  <h1>Hide Show</h1>
  <div fxLayout="row" class="responsive">
    <div fxFlex fxHide="false" fxHide.gt-sm> Shown on small device size.<br> Hidden on gt-sm
      devices.
    </div>
    <div fxFlex fxHide="false" fxHide.gt-md> Shown on small and medium size devices.<br>
      Hidden on gt-md devices.
    </div>
    <div fxFlex fxShow="false" fxShow.gt-sm> Only show on gt-sm devices.</div>
    <div fxFlex fxShow="false" fxShow.md> Shown on medium size devices only.</div>
    <div fxFlex fxShow="false" fxShow.gt-lg> Shown on devices larger than 1200px wide
      only.
    </div>
  </div>
  <h1>NgClass</h1>
  <div class="responsive" fxLayout="row">
    <div fxFlex>1</div>
    <div fxFlex ngClass.lt-md="xsClass">2</div>
  </div>
  <h1>NgStyle</h1>
  <div class="responsive" fxLayout="row">
    <div fxFlex [ngStyle.lt-md]="{'font-size.px':30}">1</div>
    <div fxFlex>2</div>
  </div>
</div>
